/** CSS STYLE **/
@font-face {
  font-family: 'Neucha';
  src: url('../assets/fonts/Neucha-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

:root {
  --white: #fff;
  --semitransparent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --semitransparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  color: var(--dark);
  font-size: 16px;
  font-family: 'Open Sans Regular', sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section {
  position: relative;
  top: 50%;
  left: 50%;

  max-width: 1110px;
  margin-top: 100px;
  margin-bottom: 100px;
}
